<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%head
  %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=UTF-8"}
  :css
    #body-style{margin: 0;padding: 0;}

    .body-text p {
      #{default_parragraph}
    }

    /* Media Query styles */
    @media only screen and (max-width: 480px) {
      .content-wrapper {
        width: #{email_width_mobile}px !important;
      }
      .full-call-to-action,
      .post-image-full {
        width: 100% !important;
      }
      .content-box-padding {
        width: #{email_padding_mobile}px !important;
      }
      .content-box-content {
        width: #{email_inner_width_mobile}px !important;
      }
      .footer-logo {
        display: none !important;
      }
      .social-footer-icons {text-align: center;}
      .hide-on-small {display: none;}
    }

%body#body-style{:style => "margin: 0;padding: 0;-webkit-text-size-adjust: 100%;"}
  %table{:width => "100%", :bgcolor => "#ffffff", :align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #ffffff;" + email_font_family}
    %tr
      %td{:width => "100%", :height => "#{email_padding}", :align => "center"}
        = '&nbsp;'
    %tr
      %td{:width => "100%", :align => "center"}
        %table.content-wrapper{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: #{email_width}px;"}
          %tr
            %td.content-box-padding{:width => "#{email_padding}"}
              = '&nbsp;'
            %td.content-box-content{:width => "#{email_inner_width}", :align => "left"}
              %a{:href => '#'}
                = image_tag 'https://f.cloud.github.com/assets/49499/1814525/8d0f76d6-6ef4-11e3-9f0e-6562b1e6bcb3.png', :style => "display: block;width: 197px;height: 47px;", :border => "0", :width => "197", :height => "47"
            %td.content-box-padding{:width => "#{email_padding}"}
              = '&nbsp;'
    %tr
      %td{:width => "100%", :height => "#{email_padding}", :align => "center"}
        = '&nbsp;'
    %tr
      %td{:width => "100%", :align => "center"}
        %table.content-wrapper{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: #{email_width}px;"}
          %tr
            %td.content-box-padding{:width => "#{email_padding}"}
              = '&nbsp;'
            %td.content-box-content{:width => "#{email_inner_width}"}
              = yield
            %td.content-box-padding{:width => "#{email_padding}"}
              = '&nbsp;'

    %tr
      %td{:width => "100%", :height => "#{email_padding}", :align => "center"}
        = '&nbsp;'
    %tr
      %td{:width => "100%", :height => "20", :align => "center", :bgcolor => "#{email_color_grey_background}", :style => "background-color: #{email_color_grey_background};border-top: 1px solid #EEEEEE;"}
        %table.content-wrapper{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: #{email_width}px;"}
          %tr
            %td{:width => "100%", :height => "20", :align => "center", :colspan => "3"}
              = '&nbsp;'
          %tr
            %td.content-box-padding{:width => "#{email_padding}"}
              = '&nbsp;'
            %td.content-box-content{:width => "#{email_inner_width}"}
              %table{:width => "100%", :align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td.footer-logo
                    %a{:href => '#'}
                      = image_tag 'https://f.cloud.github.com/assets/49499/1814525/8d0f76d6-6ef4-11e3-9f0e-6562b1e6bcb3.png', :style => "display: block;width: 197px;height: 47px;", :border => "0", :width => "197", :height => "47"
                  %td.social-footer-icons{:align => "right"}
                    %a{:href => '#', :style => "display: inline-block;"}
                      = image_tag 'https://f.cloud.github.com/assets/49499/1814530/c2068f5a-6ef4-11e3-8119-3e6fdde4b064.png', :style => "display: block;width: 50px;height: 50px;", :border => "0", :width => "50", :height => "50"
                    %a{:href => '#', :style => "display: inline-block;"}
                      = image_tag 'https://f.cloud.github.com/assets/49499/1814533/c2299810-6ef4-11e3-9c8d-04fc5d7c3524.png', :style => "display: block;width: 50px;height: 50px;", :border => "0", :width => "50", :height => "50"
                    %a{:href => '#', :style => "display: inline-block;"}
                      = image_tag 'https://f.cloud.github.com/assets/49499/1814532/c227df2a-6ef4-11e3-8b0f-d99f2ead6945.png', :style => "display: block;width: 50px;height: 50px;", :border => "0", :width => "50", :height => "50"
                    %a{:href => '#', :style => "display: inline-block;"}
                      = image_tag 'https://f.cloud.github.com/assets/49499/1814531/c21c2478-6ef4-11e3-8411-15919fa7550b.png', :style => "display: block;width: 50px;height: 50px;", :border => "0", :width => "50", :height => "50"
                %tr
                  %td{:width => "100%", :height => "10", :align => "center", :colspan => "2"}
                    = '&nbsp;'
                %tr
                  %td{:width => "100%", :height => "20", :align => "center", :colspan => "2", :style => "#{small_text_style}color: #{soft_text_color};"}
                    = 'Profesionally cultivate one-to-one customer service with robust ideas.'
                    %br
                    %a{:href => '#', :style => "#{small_text_style}color: #{brand_blue};text-decoration: underline;"}
                      = 'Unsubscribe'
                    = 'from our newsletter.'

            %td.content-box-padding{:width => "#{email_padding}"}
              = '&nbsp;'
          %tr
            %td{:width => "100%", :height => "10", :align => "center", :colspan => "3"}
              = '&nbsp;'




