.row
  .small-12.medium-8.large-8.small-centered.columns
    %h1= 'Butcher Brooklyn skateboard Marfa, Neutra band mi synth'
    %h3.subtitle= 'Tumblr hoodie 3 wolf moon polaroid, American Apparel trust fund YOLO plaid flexitarian Etsy'
    %p.text-centered
      = image_tag 'examples/example-img-landing.png'
    %p
      = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit odio, hendrerit vitae convallis sit amet, tristique sit amet elit. Suspendisse pharetra pharetra nibh id varius. Suspendisse consequat ultrices egestas. Praesent vel ante eget nisl tincidunt commodo. Donec eget massa non mauris tincidunt fermentum sit amet iaculis quam. Mauris at tortor ante. Vestibulum volutpat, diam nec varius ullamcorper, magna libero scelerisque est, vel porta nunc magna a nulla. Donec pulvinar ullamcorper turpis quis porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit ipsum, tincidunt ut mollis eu, ultricies sed nisl. Quisque augue erat, tincidunt quis ipsum quis, ornare scelerisque tortor. Nam commodo augue ac ante cursus commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium mattis egestas. Curabitur volutpat augue eu nulla porta dapibus. Sed pharetra malesuada ipsum non dictum.'

    %p
      = 'Morbi eget pulvinar magna. Cras placerat eu ligula quis volutpat. Nunc elementum libero sed pretium lobortis. Sed consectetur ipsum nunc, vitae ornare ligula consectetur in. Donec enim eros, egestas sit amet turpis nec, suscipit interdum turpis. Etiam ultrices non nibh in congue. Nam quis molestie leo, non gravida ipsum. Nulla purus tortor, malesuada id erat in, porttitor facilisis eros. Vestibulum accumsan ante at urna lacinia sollicitudin. Nulla orci libero, sodales quis consequat at, vestibulum et est. Donec quis magna fringilla, sagittis risus quis, bibendum justo. Sed porta urna massa, sed elementum urna mollis in. Praesent consequat mattis feugiat. Ut consequat blandit urna in dignissim. Integer semper commodo arcu, at dignissim mauris cursus at.'

    %p
      = 'Suspendisse lacinia lacinia vestibulum. Praesent commodo tincidunt dignissim. Sed tempus, orci eget ultricies blandit, felis nisl aliquet eros, id varius dui massa a lectus. Suspendisse sed tellus quis dolor adipiscing lacinia. Aliquam eget massa lorem. Nam tincidunt id libero volutpat rhoncus. Etiam fermentum orci a erat lacinia condimentum. Nam eget est a lorem mattis laoreet. Nulla varius, urna at ullamcorper fringilla, libero quam condimentum nibh, vel condimentum arcu lorem a magna. Aenean varius lorem quis urna tincidunt eleifend. Suspendisse id auctor dolor.'
    %p.call-to-action-wrapper
      %a.button.primary.button--big{:href => '#'}
        = 'Call to action'
